body {
    padding-top: 50px;
    padding-bottom: 70px;
}

.body-no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.img-icon {
    width: 20px;
}

.comment-top {
    padding-top: 32px;
}

.comment-bottom {
    border-bottom: 1px dotted #777;
}

.avatar {
    width: 50px;
}

.text-b6b6b6 {
    color: #b6b6b6;
}

.text-7b7b7b {
    color: #7b7b7b;
}

.text-1ba39c {
    color: #1ba39c;
}

.text-button {
    color: #1ba39c;
    font-size: 28px;
    cursor: pointer;
}

.like-img {
    cursor: pointer;
}

.comment-img {
    cursor: pointer;
}

@media (max-width: 767px) {
    .affix-nav-bottom.affix {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    .affix-nav-bottom.affix-top {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    .affix-nav.affix {
        position: fixed;
        bottom: 60px;
        right: 10px;
    }

    .affix-nav.affix-top {
        position: fixed;
        bottom: 60px;
        right: 10px;
    }

    .affix-nav-fixed-bottom.affix {
        position: fixed;
        bottom: 60px;
        right: 10px;
    }

    .affix-nav-fixed-bottom.affix-top {
        position: fixed;
        bottom: 60px;
        right: 10px;
    }

    .img-cover {
        width: 150px;
    }

    .img-gutter {
        width: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .affix-nav-bottom.affix {
        position: fixed;
        bottom: 10px;
    }

    .affix-nav-bottom.affix-top {
        position: fixed;
        bottom: 10px;
    }

    .affix-nav.affix {
        position: fixed;
        bottom: 60px;
    }

    .affix-nav.affix-top {
        position: fixed;
        bottom: 60px;
    }

    .affix-nav-fixed-bottom.affix {
        position: fixed;
        bottom: 60px;
    }

    .affix-nav-fixed-bottom.affix-top {
        position: fixed;
        bottom: 60px;
    }

    .img-cover {
        width: 200px;
    }

    .img-gutter {
        width: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .affix-nav-bottom.affix {
        position: fixed;
        bottom: 10px;
    }

    .affix-nav-bottom.affix-top {
        position: fixed;
        bottom: 10px;
    }

    .affix-nav.affix {
        position: fixed;
        bottom: 60px;
    }

    .affix-nav.affix-top {
        position: fixed;
        bottom: 60px;
    }

    .affix-nav-fixed-bottom.affix {
        position: fixed;
        bottom: 60px;
    }

    .affix-nav-fixed-bottom.affix-top {
        position: fixed;
        bottom: 60px;
    }

    .img-cover {
        width: 200px;
    }

    .img-gutter {
        width: 10px;
    }

    .dl-horizontal dt {
        float: left;
        width: 260px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 280px;
    }
}

@media (min-width: 1200px) {
    .affix-nav-bottom.affix {
        position: fixed;
        bottom: 10px;
    }

    .affix-nav-bottom.affix-top {
        position: fixed;
        bottom: 10px;
    }

    .affix-nav.affix {
        position: fixed;
        bottom: 60px;
    }

    .affix-nav.affix-top {
        position: fixed;
        bottom: 60px;
    }

    .affix-nav-fixed-bottom.affix {
        position: fixed;
        bottom: 60px;
    }

    .affix-nav-fixed-bottom.affix-top {
        position: fixed;
        bottom: 60px;
    }

    .img-cover {
        width: 200px;
    }

    .img-gutter {
        width: 10px;
    }

    .dl-horizontal dt {
        float: left;
        width: 260px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 280px;
    }
}

a.top-href {
    width: 70px;
    height: 60px;
}
